.section-page__header {
  display: flex;
  justify-content: space-between;
  &__title {
    padding: 10px 0;
    color: $textColor;
    text-transform: uppercase;
    @include titleSectionDesign();
  }

  &__btn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: $textColor;
    cursor: pointer;
  }
}
